.accountheader__button {
    background-color: #F0F4F8;
    border: 2px solid #102a43;
    height: 30px;
    display: flex;
    align-items: center;
}

.accountheader__button:hover {
    background-color: #f0b429;
    border: 2px solid transparent;
}

.accountheader__refresh:hover {
    background-color: #f0b429;
}

.accountheader__links {
    font-size: 14px;
}